# Database

DATABASE_URL=postgresql://username:password@host:5432/database?schema=public

# JWT

JWT_SECRET=your_jwt_secret

# Environment

NODE_ENV=development

# Firebase

FIREBASE_SERVICE_ACCOUNT_PATH=./config/firebase-service-account.json

# Production Database (Optional)

DATABASE_URL_NEON=postgresql://username:password@host/database